@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}*/

.banner_ini img {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  background-size: cover;
}

viaj_med {
  background: #585c68;
} 

.wrapper_viaj {
  max-width: 74%;
  min-height: 100vh;
  margin: 25px auto 2em;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

.viaj_mg {
  margin: 0  0 20px 0;
}

.wrapper_viaj .head {
  text-align: center;
  /* margin: 70px 0 20px 0; */
  padding: 20px 0 0;
}

.center_txt {
  text-align: center;
  /* margin: 70px 0 20px 0; */
  padding: 25px 35px 0;
  font-size: 2em;
  font-weight: 800;
}

.wrapper_viaj .head h3 {
  font-size: 2em;
  font-weight: 800;
}

/* .wrapper_viaj .wrapper {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 12rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 15rem),1fr));
} */

/* .wrapper_viaj .container1 img {
  width: 100%;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 1;
  border-top-left-radius: 15px;
} */

.viaj_med .wrapper_viaj .select_hover:hover {
  position: relative;
  background: #0077b5;
  /* background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px); */
  /* width: 100%; */
  z-index: 9999;
}

.container1 {
  width: 300px;
  height: 230px;
  background-color: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  border: 2px solid #5a5a5ad7;
  margin: 30px auto;
}

.patito {
  color:  #ffc700;
}

.activado {
 background-color: #158fb4;
 color: #fff;
}


input[type="checkbox"] {
  -webkit-appearance: none;
  /* border: 1px solid black; */
  position: relative;
  width: 100%;
  height: 10px;
  cursor: pointer;
  display: none;
}

/* input[type="checkbox"]:after {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f111";
  font-size: 18px;
  color: #478bfb;
  right: 10px;
  top: -3px;
} */

input[type="checkbox"]:checked:after{
  font-weight: 900;
  content: "\f058";
  color: #478bfb;
}

.container1 img {
  width: 95%;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: -15px;
  bottom: 0;
  cursor: pointer;
  border-radius: 10px;
}

.image {
  object-fit: contain;
}

.container1 p {
  position: absolute;
  font-weight: 500;
  text-align: center;
  left: 0;
  right: 0;
  top: 90%;
  bottom: 0;
}

.otros_lugares_visitar {
  margin: 5px 35px 20px;
}

.cuestion1 {
  margin: 5px 35px 20px;
  font-weight: 600;
  line-height: 2em;
}

.cuestion1 i {
  color: #0077b5;
  padding-right: 5px;
}

.cuestion1_1 {
  margin: 5px 35px 20px;
  max-height: 130px;
  max-width: 90%;
}

/** Cuestión 2 **/

.wrapper_viaj2 {
  max-width: 74%;
  min-height: 45vh;
  margin: 25px auto 0;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

.cuestion2 {
  padding: 15px 35px 10px;
  font-weight: 600;
  line-height: 2em;
}

.cuestion2 i {
  color: #0077b5;
  padding-right: 5px;
}

/* .wrapper_viaj2 .container1 {
  display: grid;
  gap: 3rem;
  grid-auto-rows: 12rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 15rem),1fr));
} */

.wrapper_viaj2 .option_item {
  display: block;
  position: relative;
  width: 200px;
  height: 175px;
  margin: 10px;
  border: 1px solid #585c68;
  border-radius: 5px;
}

.wrapper_viaj2 .option_item .checkbox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
}

.wrapper_viaj2 .option_item .option_inner {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 58px 40px;
  cursor: pointer;
  /* color: #585c68; */
  display: block;
  border: 5px solid transparent;
  position: relative;
}

.wrapper_viaj2 .option_item .option_inner .icon {
  margin-bottom: 10px;
}

.wrapper_viaj2 .option_item .option_inner .icon .fa-solid {
  font-size: 32px;
}

.wrapper_viaj2 .option_item .option_inner .name {
  user-select: none;
  font-size: 1.2em;
  font-weight: 500;
}

.active2 {
  background: #158fb4 !important;
  border: 2px solid #0077b5 !important;
}

/* Modulo 3 */

/* .wrapper_viaj3 {
  max-width: 74%;
  min-height: 50vh;
  margin: 25px auto 0;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
} */

.wrapper_viaj3 .option_item {
  display: block;
  position: relative;
  max-width: 100%;
  height: 60%;
  margin: 10px;
  border: 1px solid #585c68;
  border-radius: 5px;
}

.wrapper_viaj3 .option_item .checkbox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
}

.wrapper_viaj3 .option_item .option_inner {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  color: #585c68;
  display: flex;
  border: 5px solid transparent;
  justify-content: center;
  align-items: center;
}

.wrapper_viaj3 .option_item .option_inner .icon {
  margin-bottom: 10px;
}

.wrapper_viaj3 .option_item .option_inner .icon .fa-solid {
  font-size: 32px;
}

.wrapper_viaj3 .option_item .option_inner .name {
  user-select: none;
}

.wrapper_viaj3 .option_item .checkbox:checked ~ .option_inner.facebook {
  border-color: #3b5999;
  color: #3b5999;
}

.wrapper_viaj3 .option_item .checkbox:checked ~ .option_inner.twitter {
  border-color: #55acee;
  color: #55acee;
}

.wrapper_viaj3 .option_item .checkbox:checked ~ .option_inner.instagram {
  border-color: #e4405f;
  color: #e4405f;
}

.wrapper_viaj3 .option_item .checkbox:checked ~ .option_inner.linkedin {
  border-color: #0077b5;
  color: #0077b5;
}

.wrapper_viaj3 .option_item .checkbox:checked ~ .option_inner.whatsapp {
  border-color: #25d366;
  color: #25d366;
}

.wrapper_viaj3 .option_item .checkbox:checked ~ .option_inner.google {
  border-color: #dd4b39;
  color: #dd4b39;
}

.wrapper_viaj3 .option_item .checkbox:checked ~ .option_inner.reddit {
  border-color: #ff5700;
  color: #ff5700;
}

.wrapper_viaj3 .option_item .checkbox:checked ~ .option_inner.quora {
  border-color: #b92b27;
  color: #b92b27;
}

.wrapper_viaj3 .option_item .option_inner .tickmark {
  position: absolute;
  top: -1px;
  left: -1px;
  border: 20px solid;
  border-color: #000 transparent transparent #000;
  display: none;
}

.wrapper_viaj3 .option_item .option_inner .tickmark:before {
  content: "";
  position: absolute;
  top: -18px;
  left: -18px;
  width: 15px;
  height: 5px;
  border: 3px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
}

.wrapper_viaj3 .option_item .checkbox:checked ~ .option_inner .tickmark {
  display: block;
}

.wrapper_viaj3 .option_item .option_inner.facebook .tickmark {
  border-color: #3b5999 transparent transparent #3b5999;
}

.wrapper_viaj3 .option_item .option_inner.twitter .tickmark {
  border-color: #55acee transparent transparent #55acee;
}

.wrapper_viaj3 .option_item .option_inner.instagram .tickmark {
  border-color: #e4405f transparent transparent #e4405f;
}

.wrapper_viaj3 .option_item .option_inner.linkedin .tickmark {
  border-color: #0077b5 transparent transparent #0077b5;
}

.wrapper_viaj3 .option_item .option_inner.whatsapp .tickmark {
  border-color: #25d366 transparent transparent #25d366;
}

.wrapper_viaj3 .option_item .option_inner.google .tickmark {
  border-color: #dd4b39 transparent transparent #dd4b39;
}

.wrapper_viaj3 .option_item .option_inner.reddit .tickmark {
  border-color: #ff5700 transparent transparent #ff5700;
}

.wrapper_viaj3 .option_item .option_inner.quora .tickmark {
  border-color: #b92b27 transparent transparent #b92b27;
}

/* Modulo 4 */

.wrapper_viaj4 {
  max-width: 74%;
  min-height: 50vh;
  margin: 25px auto 0;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

.wrapper_viaj4 .option_item {
  display: block;
  position: relative;
  max-width: 100%;
  height: 80%;
  margin: 10px;
  border: 1px solid #585c68;
  border-radius: 5px;
}

.wrapper_viaj4 .option_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px auto 2px;
  height: 100%;
  width: 100%;
}

.wrapper_viaj4 .name {
  font-size: 1.4em;
  font-weight: 500;
}

/* Modulo 5 */

.wrapper_viaj5 {
  max-width: 74%;
  min-height: 45vh;
  margin: 25px auto 0;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

.wrapper_viaj5 .option_item {
  display: block;
  position: relative;
  width: 200px;
  height: 175px;
  margin: 10px;
  border: 1px solid #585c68;
  border-radius: 5px;
}

.wrapper_viaj5 .option_item .checkbox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
}

.wrapper_viaj5 .option_item .option_inner {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 45px 35px;
  cursor: pointer;
  /* color: #585c68; */
  display: block;
  border: 5px solid transparent;
  position: relative;
}

.wrapper_viaj5 .option_item .option_inner .icon {
  margin-bottom: 10px;
}

.wrapper_viaj5 .option_item .option_inner .icon .fa-solid {
  font-size: 32px;
}

.wrapper_viaj5 .option_item .option_inner .name {
  user-select: none;
  font-size: 1.2em;
  font-weight: 500;
}

/* Modulo 6 */

.wrapper_viaj6 {
  max-width: 74%;
  min-height: 45vh;
  margin: 25px auto 12em;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

/*!======================FORMULARIO DE CONTACTO==============================!*/
.formulario_contac {
  position: relative;
  width: 100%;
  height: 90vh;
  display: grid;
  place-items: center;
}

.formulario_contac .contactForm {
  position: relative;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
  gap: 30px;
  padding: 0 10px;
  width: 90%;
  height: 100%;
  /*background: #9cdafa;
  box-shadow: 1px 9px 20px -5px rgba(0, 0, 0, 0.59);*/
  border-radius: 30px;
}

.formulario_contac .contactForm .form {
  position: relative;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  width: 85%;
  margin-left: 5px;
}

.formulario_contac .contactForm .form form {
  width: 100%;
}

/* Titulo y Descripción*/
.formulario_contac .contactForm .form .texto h2 {
  color: #1766a3;
  font-size: 2em;
  margin-bottom: 10px;
}

.formulario_contac .contactForm .form .texto p {
  color: #0b426c;
  line-height: 1.5;
  margin-bottom: 20px;
}

/*Cajas de Texto*/
.formulario_contac .contactForm .form form .inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

/*Etiquetas e imputs */
.formulario_contac .contactForm .form form .inputBox label {
  color: #1766a3;
  font-weight: 700;
}

.formulario_contac .contactForm .form form .inputBox input[type="text"],
.formulario_contac .contactForm .form form .inputBox input[type="email"],
.formulario_contac .contactForm .form form .inputBox input[type="tel"],
.formulario_contac .contactForm .form form .inputBox textarea {
 border: none;
 background: #cbebfb;
 padding: 10px;
 border-radius: 15px;
 color: #1766a3;
 resize: none;
}

.formulario_contac .contactForm .form form .inputBox input[type="text"]:focus,
.formulario_contac .contactForm .form form .inputBox input[type="email"]:focus,
.formulario_contac .contactForm .form form .inputBox textarea:focus {
  outline: 2px solid #1766a3;
}

.formulario_contac .contactForm .form form input[type="submit"]  {
  background: #1766a3;
  display: inline-block;
  text-align: center;
  width: 250px;
  padding: 10px;
  border-radius: 15px;
  color: #fff;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
  box-shadow: 1px 9px 20px -5px rgba(0, 0, 0, 0.59);
  transition: 0.3s;

}

/* Botones */
.wrapper_viaj6 .option_inner {
  max-width: 100%;
  border: 2px solid #1766a3;
  padding: 10px;
  border-radius: 15px;
  background: #CBEBFB;
}